.projects {
  background-color: #1e1b2f;
  padding-bottom: 2em;

  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)),
    url("/src/assets/images/Hero/bg24.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects iframe,
.projects .project-frame__media {
  box-shadow: 0px 5px 20px rgb(82, 44, 255, 0.36);
}

.projects > a {
  margin: 0 auto;
  width: fit-content;
  font-size: 1.1em;
  color: white;
  text-decoration-line: underline;
}

.ProjectsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 1rem;
}

.ProjectsList .project-frame {
  margin: 0;
}

@media (min-width: 900px) {
  .ProjectsList {
    flex-direction: row;
  }
}

.project-frame {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  transition: transform 180ms ease;
  transform-origin: center;
  will-change: transform;
}

.project-frame:hover {
  transform: scale(1.03);
}

.project-frame__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  display: block;
  z-index: 2;
  cursor: pointer;
}

.project-frame iframe {
  display: block;
}

.project-frame__media {
  display: block;
  width: 375px;
  height: 450px;
  max-width: none;
  object-fit: cover;
}
