.ContactFormSection {
  width: 100%;
  background-color: black;
  padding-top: 1.25rem;
  padding-bottom: 4.2rem;
}

.ContactForm {
  max-width: 600px;
  width: 100%;
  background: transparent;
  padding: 25px 25px 30px;
  padding-top: 0px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  margin: 25px;
}

.ContactForm__title {
  margin: 0;
}

.ContactForm .input-box {
  margin-top: 20px;
}

.ContactForm label {
  display: block;
  margin-bottom: 8px;
  text-align: left;
}

.ContactForm .field {
  width: 100%;
  height: 50px;
  background: #232033;
  border: 2px solid #ddd;
  outline: none;
  border-radius: 6px;
  padding: 15px;
  font-size: 16px;
  color: #ffffff;
  box-sizing: border-box;
}

.ContactForm .field.mess {
  height: 200px;
  resize: none;
}

.ContactForm button {
  width: 100%;
  max-width: 260px;
  height: 55px;
  background: #322d4d;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: block;
  margin: 25px auto 0;
}

.ContactForm__success {
  max-width: 600px;
  width: 100%;
  margin: 25px;
}
