.element3 {
  padding-top: 1em;
  margin-top: 0;
  margin: 0 auto;
  align-content: center;
  background-color: black;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

form {
  max-width: 600px;
  width: 100%;
  background: transparent;
  padding: 25px 25px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  margin: 25px;
}

form .input-box {
  margin-top: 20px;
}

.input-box .field {
  width: 100%;
  height: 50px;
  background: #232033;
  border: 2px solid #ddd;
  outline: none;
  border-radius: 6px;
  padding: 15px;
  font-size: 16px;
  color: #ffffff;
}

.input-box .field.mess {
  height: 200px;
  resize: none;
}

form button {
  width: 100%;
  max-width: 260px;
  height: 55px;
  background: #322d4d;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: block;
  margin: 25px auto 0;
}
