.hero img {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.hero .icon-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  justify-items: center;
  gap: 10px;
}
