.Projects {
  background-color: #1e1b2f;
  padding-bottom: 2em;

  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 1)),
    url("/src/assets/starry6.png") no-repeat center / cover;
}

.Projects iframe {
  box-shadow: 0px 5px 20px rgb(82, 44, 255, 0.36);
}

.Projects > a {
  margin: 0 auto;
  width: fit-content;
  font-size: 1.1em;
  color: white;
  text-decoration-line: underline;
}

.project-frame {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  transition: transform 180ms ease;
  transform-origin: center;
  will-change: transform;
}

.project-frame:hover {
  transform: scale(1.03);
}

.project-frame__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  display: block;
  z-index: 2;
  cursor: pointer;
}

.project-frame iframe {
  display: block;
}
