.Projects {
  background-color: #1f1c33;
  padding-bottom: 1em;

  display: flex;
  flex-direction: column;
}

.Projects iframe {
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 1);
}

.Projects a {
  margin: 0 auto;
  width: fit-content;
  font-size: 1.1em;
  color: white;
  text-decoration-line: underline;
}
