.element3 {
  padding-top: 1em;
  margin-top: 0;

  margin: 0 auto;
  align-content: center;
  background-color: black;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
