#root {
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  color: #fff;
}
html,
body {
  margin: 0;
  scroll-behavior: smooth;
}

/* APP */
.app {
  display: flex;
  flex-direction: column;
}

/* BACKGROUND FOR HERO */
.app_header {
  height: 50em;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),
    url("/src/assets/images/Hero/heroBackground.jpg") no-repeat center / cover;
}

.app_header,
.app_main {
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.arrowImage {
  position: relative;
}

.arrowImage img {
  width: 50px;
}

/* .element1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
} */
/* 
.text-section {
  flex: 1;
  text-align: left;
  min-width: 200px;  Prevent text from shrinking too much 


.image-section {
  flex: 1;
  text-align: right;
  min-width: 0;  Allow image to shrink 
}

.element1 img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
 */

/* 
.element1 .image-section {
  display: flex;
} */

/* .WIP {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 10em;
  background: rgb(255, 41, 41);
  padding: 0;
  z-index: 1000;
  text-align: center;
  text-decoration: solid;
} */

.visuals1 {
  background: black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.visuals1 img {
  margin: 0 auto;
  width: 100%;
  max-width: 580px;
}
